<section class="slider">
  <div class="container slider-container">
    <div class="slider-text">
      <ul class="js-rotating">
        
            <li>
  				<h1>atlas is <em>Multipurpose</em> Drupal theme</h1>
  				<p>atlas Theme is packed full of all the amazing features and options for you to create</p>
  				<a class="button-link" href="#">Get Started</a>
  			</li>
  			<li>
  				<h1>Welcome To <em>Drupar</em> Design Studio</h1>
  				<p>We present you material design. We put our hearts and soul into making every project.</p>
  				<a class="button-link" href="#">Get Started</a>
  			</li>
  			<li>
  				<h1>We Create <em>Awesome</em> Drupal Themes!</h1>
  				<p>Our themes are of high quality, flexible and beautifully crafted that stand out of crowd.</p>
  				<a class="button-link" href="#">Get Started</a>
  			</li>
        
      </ul> <!--/.home-slider -->
    </div><!-- /slider-text -->
    <div class="slider-image">
      
        <img src="{{ directory }}/images/slider.svg" alt="slider image" />
      
    </div><!-- /slider-image -->
  </div> <!--/.container -->
</section>
