<!-- View: Contact -->

{% if data %}

	<div id='contact-view' data-aos="fade-right">
	
	    {% if data.banner %}
			<img src="{{ file_url(data.banner) }}" alt="{{ 'Banner'|t }}">
	    {% endif %}	

		<div class="separator"></div>
		{# <h2 class="view-title"> {{ 'Contact Us'|t }} </h2>  #}

		<div class='dark-form'>
			{{ data.form }}
		</div>
		
	</div>
  
{% endif %}	