
{#
/**
 * @file
 * Theme override for page titles.
 */
#}

<div class="page-title-wrap">
  {{ title_prefix }}
  {% if title %}
    <h1{{ title_attributes.addClass('page-title') }}>{{ title }}</h1>
  {% endif %}
  {{ title_suffix }}
</div> <!--/.page-title-wrap -->
