
{# --- Block: Map --- #}

	<!-- Block: Map --> 
    <div id="map">
	<iframe src=" https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3762.8883959319195!2d-99.19362322421904!3d19.42688278180361!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d201f854d6b5c7%3A0x9eae78d8c845625!2sAv.%20Ej%C3%A9rcito%20Nacional%20Mexicano%20373-piso%203%2C%20Chapultepec%20Morales%2C%20Granada%2C%2011520%20Ciudad%20de%20M%C3%A9xico%2C%20CDMX%2C%20M%C3%A9xico!5e0!3m2!1ses!2sus!4v1690830682949!5m2!1ses!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
	</div>
	
