
{% if data %}
<section class="local-section py-5">
  <div class="container">
      <h2 class="section-title futura-bold">{{ data.title }}</h2>
  </div>
  <div class="container">
      <div class="row align-items-center">
          <div class="col-lg-6">
              <p class="futura-book">{{ data.text|raw }}</p>
          </div>
          <div class="col-lg-6">
              <img src="{{ file_url(data.image) }}" alt="{{ data.title }}" class="img-fluid rounded" style="border: 3px solid white;">
          </div>
      </div>
  </div>
</section>

{% endif %}
